.nav-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-color: #fabf2b;
  border-radius: 5px;
  padding-top: 1.5rem;
}


.profile_picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_of_user {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 1024px) {
.nav-header {
   display: flex;
   margin-top: 150px;
   width: 45%;
   margin-left: 1.5rem;
   justify-content: center;
   margin-right: 6.5rem;
   margin-bottom: 248px;
  }
 }; 