
main {
  background-color: #00000000
}
textarea {
  border: 0;
  border-bottom: 2px solid #1f1e1e;
  line-height: 18px;
  padding-bottom: 1px;
  margin-bottom: 8px;
  outline: none;
  width: auto;
  background-color: #f4f1ec;
  resize: none;
}
.textbox {
  display: flex;
  flex-direction: column;
}


.label {
  display: flex;
  justify-content: center;
}

.tweet-button {
  display: flex;
  font-family: 'Bungee';
  align-content: center;
  color: #e4d7d7;
  background-color: #4056A1;
  border-width: 0px;
  border-radius: 5px;
}

.counter {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: #313131;
  font-family: 'Bungee';
}

section > .new-tweet {
  display: flex;
  justify-content: center;
}

