
section.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Overall article element for each tweet */
article.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:  'Source Sans 3', sans-serif;
  color: black;
  outline: 3px solid rgb(32, 32, 32);
  height: 14rem;
  width: 70%;
  position: relative;
}
/* Hover event for the overall tweet*/
article.container:hover {
  box-shadow: 0 0 5px 5px grey;
}

/* This should contain the profile picture(?) as well as the name, and the @handle of the user*/
header.tweet-header {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: row;
  align-self: flex-start;
  margin: .5rem;
  background-color: #fff;
  color: rgb(119, 100, 100);
}

/*The "content" of the tweet, or whatever someone actually tweeted*/
p.container {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  color: black;
  margin: 1.5rem;
  width: 95%;
  height: adjust;
  border-bottom: 2px solid #1f1e1e;
}

/* Bottom of the tweet, should contain the symbols that have mouse-hover events. Retweet/like/etc. */
footer.tweet-footer {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: .5rem;
  font-size: medium;
}

/* Div for grouping the icons*/
div.icons {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
  margin: .5rem;
  font-size: medium;
}

/*The icon element*/

i {
  font-size: 20px;
  margin-left: .3rem;
  margin-right: .3rem;
  margin-top: .3rem;
  margin-bottom: .1rem;
  font-size: medium;
  color: #4056A1;
  outline: 1px solid red;
}

/* Hover event for the icons*/
i:hover {
  color: #fabf2b;
}