/*Overall article element for each tweet */

article.tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:  'Source Sans 3', sans-serif;
  color: black;
  outline: 3px solid rgb(32, 32, 32);
  height: 14rem;
  position: relative;
  margin: 1.5rem;
}

/* Hover event for the overall tweet*/
article.tweet:hover {
  box-shadow: 0 0 5px 5px grey;
}

/* This should contain the profile picture(?) as well as the name, and the @handle of the user*/
article > header {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  margin: .5rem;
  color: rgb(119, 100, 100);
}

article > header > img, article > header > h2, article > header > span {
  margin: .2rem;

}

/*The "content" of the tweet, or whatever someone actually tweeted*/
article > p {
  display: flex;
  justify-content: flex-start;
  color: black;
  margin: 1.5rem;
  width: 95%;
  height: auto;
  border-bottom: 2px solid #1f1e1e;
}

/* Bottom of the tweet, should contain the symbols that have mouse-hover events. Retweet/like/etc. */
article > footer {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: .5rem;
  font-size: medium;
  width: 100%;
}

/* Div for grouping the icons*/
div.icons {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: space-between;
  margin: 1rem;
  font-size: medium;
}

/*The icon element*/

#footer-icon {
  font-size: 20px;
  margin-left: .3rem;
  margin-right: .3rem;
  margin-top: .3rem;
  margin-bottom: .1rem;
  font-size: medium;
  color: #4056A1;
}

/* Hover event for the icons*/
#footer-icon:hover {
  color: #fabf2b;
}


@media screen and (min-width: 1024px) {
  .overall-container{
    display: flex;
    flex-direction: column;
  }
}